* {
  font-size: 12px;
  font-family: monospace;
}

table {
  border-collapse: collapse;
  margin-bottom: 1em;
}
th, td {
  padding: 0.2rem;
  border:  1px solid black;
}
th {
  position: relative;
  background-color: lightgray;
  cursor: pointer;
}
.sorting::after {
  content: " ▲";
  right: 0;
}
.sorting.reversed::after {
  content: " ▼"
}

tr:hover {
  background-color: aqua;
}
tr.selected {
  background-color: yellow;
}
input[type=checkbox] {
  margin: 2px 0 0;
}
.attribute {
  text-align: center;
}

#output {
  padding: 0 5px 20px;
}
#actions {
  position: fixed;
  bottom: 0;
  width: calc(100% - 24px);
  background: white;
  border-top: 1px solid #9a9a9a;
  padding: 6px 4px;
}
